django
django-bootstrap3
chardet
djangorestframework
paramiko
tornado
django-jet
ansible
django-celery-beat
django-celery-results
FeedParser
jsonfield
django-guardian
channels==2.0.2
channels-redis==2.1.0
amqp==1.4.9
anyjson==0.3.3
asgi-redis==1.4.3
asgiref==2.3.0
async-timeout==2.0.0
attrs==17.4.0
incremental
django-pure-pagination