{% extends "base.html" %}
{% block  title %}资产详情{% endblock %}
{% block header-css %}

{% load bootstrap3 %}
{% endblock %}


{% block  page-content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产详情</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                     <a href="{% url    'asset:asset_list' %}" >资产管理</a>
                </li>
                <li class="active">
                    <strong>资产详情</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="text-center"><i class="fa fa-laptop"></i>资产详情</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url "asset:asset_update"  nid %}"><i
                                        class="fa fa-edit"></i>编辑</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-danger  asset_del">
                                    <i class="fa fa-edit"></i>删除
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ assets.hostname }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td style=" border-top: none !important;" width="20%">主机名:</td>
                                            <td style=" border-top: none !important;"><b>{{ assets.hostname }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">内网IP:</td>
                                            <td><b>{{ assets.network_ip }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">外网IP:</td>
                                            <td><b>{{ assets.inner_ip }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">是否启用:</td>
                                            <td><b>{{ assets.is_active }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">平台:</td>
                                            <td><b>{{ assets.platform }}</b></td>
                                        </tr>
                                       <tr>
                                            <td width="20%">区域:</td>
                                            <td><b>{{ assets.region }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">实例ID:</td>
                                            <td><b>{{ assets.Instance_id }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">项目:</td>
                                            <td><b>{{ assets.project }}</b></td>
                                        </tr>
                                       <tr>
                                            <td width="20%">用户:</td>
                                            <td><b>{{ assets.users }} </b></td>
                                        </tr>
                                     <tr>
                                            <td width="20%">激活:</td>
                                            <td><b>{% ifequal   assets.is_active  True %}   <i class="fa fa-check text-navy"></i>{% endifequal %}
                                             {% ifequal   assets.is_active  False  %}   <i class="fa fa-times text-danger"></i> {% endifequal %} </b></td>
                                        </tr>
                                      <tr>
                                            <td width="20%">变量:</td>
                                            <td><b>{% for  i  in vars %}  {{ i.name }}{% endfor %}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">系统版本:</td>
                                            <td><b>{{ assets.system }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">CPU:</td>
                                            <td><b>{{ assets.cpu }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">内存:</td>
                                            <td><b>{{ assets.memory }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">硬盘:</td>
                                            <td><b>{{ assets.disk }}</b></td>
                                        </tr>


                                       <tr>
                                            <td width="20%">创建时间:</td>
                                            <td><b>{{ assets.ctime }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">更新时间:</td>
                                            <td><b>{{ assets.utime }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">备注:</td>
                                            <td><b>{{ assets.ps }}</b></td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5" style="padding-left: 0;padding-right: 0">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> 快速修改
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                        <tr>
                                            <td style=" border-top: none !important;">更新硬件信息:</td>
                                            <td style=" border-top: none !important;">
                                                <span class="pull-right">
                                                    <button type="button"
                                                            class="btn btn-primary btn-xs  asset_hardware_update"
                                                            style="width: 54px">刷新</button>

                                                </span>

                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block footer-js %}


        <script>


            $(function () {
                $('.asset_del').click(function () {
                    swal({

                        title: "你确定删除",
                        text: "你将无法恢复",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    }, function () {
                        $.ajax({
                            url: "/asset/asset-all-del.html",
                            type: 'POST',
                            data: {'nid': {{  nid }}},
                            success: function (data) {

                                var obj = JSON.parse(data);
                                if (obj.status) {
                                    swal({title: "删除", text: "已成功删除", type: "success"}, function () {
                                        location.href = "{% url "asset:asset_list" %}"
                                    })
                                } else {
                                    swal("错误", "删除" + "[ " + obj.error + " ]" + "遇到错误", "error");
                                }
                            }
                        });


                    });
                });

                     $('.asset_hardware_update').click(function () {


                 toastr.options = {
                                      "closeButton": true,
                                      "debug": false,
                                      "progressBar": true,
                                      "preventDuplicates": true,
                                      "positionClass": "toast-top-right",
                                      "onclick": null,
                                      "showDuration": "400",
                                      "hideDuration": "1000",
                                      "timeOut": "7000",
                                      "extendedTimeOut": "1000",
                                      "showEasing": "swing",
                                      "hideEasing": "linear",
                                      "showMethod": "fadeIn",
                                      "hideMethod": "fadeOut"
                                    };





                    $.ajax({
                        url: "/asset/asset-hardware-update.html",
                        type: 'POST',
                        data: {'nid': {{  nid }}},
                        success: function (data) {
                            var obj = JSON.parse(data);
                            if (obj.status) {
                                toastr.info("如未更新，请查看定时任务--周期结果","后台异步获取信息中,请稍后查看!");
                            } else {
                                $('#error2').text(obj.error);
                                 toastr.error(obj.error);
                            }
                        }
                    })
                });

            });


        </script>


    {% endblock %}


{% endblock %}


