{% extends "base.html" %}
{% load  bootstrap3 %}
{% block  title %} 链喵 | 500 {% endblock %}


{% block header-css %}

{% endblock %}


{% block page-content %}

    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">内部服务器错误</h3>

        <div class="error-desc">
            服务器遇到意外事件，不允许完成请求。我们抱歉。<br/>
            您可以返回主页面：: <br/><a href="/index.html" class="btn btn-primary m-t">主页</a>
        </div>
    </div>
{% endblock %}


{% block footer-js %}


<script>

</script>
{% endblock %}