{% extends "base.html" %}
{% load  bootstrap3 %}
{% block  title %} 链喵 | 首页{% endblock %}


{% block header-css %}

{% endblock %}


{% block page-content %}
<div class="wrapper wrapper-content">



    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Assets</span>
                    <h5>资产数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="">{{ assets_count }}</a></h1>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Projects</span>
                    <h5>项目数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="">{{ projects_count }}</a></h1>

                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Names</span>
                    <h5>用户数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="">{{ names_count }}</a></h1>

                </div>
            </div>
        </div>
                <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Groups</span>
                    <h5>组数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="">{{ groups_count }}</a></h1>

                </div>
            </div>
        </div>

    </div>

    <br/>


</div>


{% endblock %}

{% block footer-js %}

<script>


toastr.options = {
                                      "closeButton": true,
                                      "debug": false,
                                      "progressBar": true,
                                      "preventDuplicates": true,
                                      "positionClass": "toast-top-right",
                                      "onclick": null,
                                      "showDuration": "400",
                                      "hideDuration": "1000",
                                      "timeOut": "7000",
                                      "extendedTimeOut": "1000",
                                      "showEasing": "swing",
                                      "hideEasing": "linear",
                                      "showMethod": "fadeIn",
                                      "hideMethod": "fadeOut"
                                    };
toastr.success("欢迎登录 链喵  CMDB系统", "欢迎")

</script>
{% endblock %}